#skills {
  background-color: $winter-color;
  // background-image: linear-gradient(135deg, $color1 0%, $color2 100%);
  color: $white-color;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);

  padding-bottom: 10%;
  // padding: 2rem;

  .container {
    h2 {
      color: $dark-blue-text;
    }
  }

  .tag-line {
    color: $dark-blue-text;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
  }

  i {
    color: rgb(255, 138, 89);
    font-size: 6em;
  }

  h3 {
    color: $dark-blue-text;
    font-size: 2em;
    font-weight: 700;
    margin: 0 auto;
  }

  .experience-topics {
    margin: 0 auto;

    p {
      color: #acaeb2;

      /*font-weight: 500;*/
    }

    ul {
      li {
        list-style: none;
        color: $dark-blue-text;
        margin: 1rem;
        font-size: 2em;
        font-weight: 500;
      }
    }
  }
}
